body {
	font-family: 'Saira Semi Condensed', sans-serif;
	background: #ffffff;
}

.title-logo {
	margin-top: 10px;
}

.text-logo {
	margin-top: 50px;
}

.title-main {
	font-size: 60px;
}

.title-minor {
	font-size: 40px;
}

.site_bottom {
	margin: 15px;
}
.modal-image-margin {
  margin-bottom:10px;
}

.font-thin {
	font-weight: 100;
}

.font-grey {
	color: #BCBBBB;
}

.img-site {
	width: 1200px;
	height: 190px;
	background-image: url("../images/sand.jpg");
	transition: background-image  .3s  ease-in-out;
	-moz-transition: background-image .3s  ease-in-out;
	-ms-transition:    background-image .3s  ease-in-out;
	-o-transition:     background-image .3s  ease-in-out;
	-webkit-transition: background-image .3s  ease-in-out;
}

.modalimg {
	cursor: pointer;
}





